$colorBackgroundPrimary: #DFE3E6;
$colorBackgroundSecondary: #FFFFFF;
$colorTextPrimaryLight: #FFFFFF;
$colorTextPrimaryDark: #000000;
$colorTextSecondary: #6B808C;
$colorButtonPrimary: #39C071;

$boxShadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
$borderRadius: 3px;
