@import "~src/styles/variables";
@import "~src/styles/mixins";

:host {
  width: 100%;
  @include textPrimary();
}

:host(:first-of-type) {
  margin-top: 12px;
}

:host:not(:last-of-type) {
  margin-bottom: 8px;
}

.item {
  background-color: $colorBackgroundSecondary;
  padding: 8px 12px;
  box-sizing: border-box;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;

  &:hover {
    cursor: pointer;
  }
}

.item__input {
  background-color: $colorBackgroundSecondary;
  width: 100%;
  padding: 8px 12px;
  font-size: 13px;
  box-sizing: border-box;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
}

.item__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.item__save-button {
  height: 30px;
  padding: 0 12px;
  font-size: 13px;
  background-color: $colorButtonPrimary;
  color: $colorTextPrimaryLight;
  border-radius: $borderRadius;
}

.item__cancel-button {
  background-color: transparent;
  color: $colorTextSecondary;
  display: flex;
  align-items: center;
}
