@import "~src/styles/variables";
@import "~src/styles/mixins";

:host {
  width: 100%;
  @include textPrimaryDark();
}

:host:not(:last-of-type) {
  margin-bottom: 8px;
}

.item {
  background-color: $colorBackgroundSecondary;
  padding: 8px 12px;
  box-sizing: border-box;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;

  &:hover {
    cursor: pointer;
  }
}

.item__description {
  padding-top: 4px;
  @include textDescriptionPrimaryDark();
}

.item__inputs {
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  background-color: $colorBackgroundSecondary;
}

.item__input {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  @include textPrimaryDark();

  &::placeholder {
    @include textSecondary();
  }
}

.item__title-input {
  border-top-right-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
}

.item__description-input {
  border-top: 1px solid $colorBackgroundPrimary;
  border-bottom-right-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  @include textDescriptionPrimaryDark();

  &::placeholder {
    @include textDescriptionSecondary();
  }
}

.item__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.item__save-button {
  height: 30px;
  padding: 0 12px;
  background-color: $colorButtonPrimary;
  border-radius: $borderRadius;
  @include textPrimaryLight();
}

.item__icon-buttons {
  display: flex;
}

.item__icon-button {
  background-color: transparent;
  color: $colorTextSecondary;
  display: flex;
  align-items: center;
}
