<form
  *ngIf="isEditFormVisible"
  [formGroup]="formGroup"
>
  <input
    class="item__input"
    type="text"
    placeholder="{{locale.InputItemTitle}}"
    autofocus
    formControlName="title"
  >

  <textarea
    class="item__input item__description-input"
    placeholder="{{locale.InputItemDescription}}"
    autofocus
    formControlName="description"
  >
  </textarea>

  <div class="item__actions">
    <button
      class="item__save-button"
      (click)="editItem()"
    >
      {{buttonName}}
    </button>

    <div class="item__icon-buttons">
      <button
        *ngIf="!item.isItemNew"
        class="item__icon-button"
        (click)="removeItem.emit(item)"
      >
        <mat-icon>{{iconNames.DELETE}}</mat-icon>
      </button>

      <button
        class="item__icon-button"
        (click)="inputItemCancel()"
      >
        <mat-icon>{{iconNames.CLEAR}}</mat-icon>
      </button>
    </div>
  </div>
</form>

<div
  *ngIf="!isEditFormVisible"
  class="item"
  (click)="onItemClick()"
>
  {{item.title}}
  <div
    *ngIf="item.description"
    class="item__description"
  >
    {{item.description}}
  </div>
</div>
