<form
  *ngIf="isEditable || isItemNew"
  [formGroup]="formGroup"
>
  <input
    class="item__input"
    type="text"
    placeholder="{{locale.InputItemTitle}}"
    autofocus
    formControlName="title"
  >

  <div class="item__actions">
    <button
      class="item__save-button"
      (click)="editItem()"
    >
      {{buttonName}}
    </button>

    <button
      class="item__cancel-button"
      (click)="inputItemCancel()"
    >
      <mat-icon>{{iconNames.CLEAR}}</mat-icon>
    </button>
  </div>
</form>

<div
  *ngIf="!(isEditable || isItemNew)"
  class="item"
  (click)="onItemClick()"
>
  {{item.title}}
</div>
