@import "~src/styles/variables";
@import "~src/styles/mixins";

:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.app__columns {
  display: flex;
  align-items: flex-start;
}

.app__button {
  max-width: 300px;
  min-width: 300px;
  background-color: $colorBackgroundPrimary;
  box-shadow: $boxShadow;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  padding: 12px;
  text-align: left;
  line-height: 1px;
  @include textSecondary();
}

.app__button-icon {
  margin-right: 8px;
}

.app__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
