@import "~src/styles/variables";
@import "~src/styles/mixins";

:host {
  display: flex;
  align-items: flex-start;
}

.app__add-column-button {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  background-color: $colorBackgroundPrimary;
  box-shadow: $boxShadow;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 12px;
  text-align: left;
  line-height: 1px;
  @include textSecondary();
}

.app__add-column-icon {
  margin-right: 8px;
}
