<column-title
  [column]="column"
  [isColumnNew]="isColumnNew"
  (addingTitleCancel)="addingColumnCancel.emit()"
  (editColumnTitle)="editColumn.emit($event)"
>
</column-title>

<item
  *ngFor="let item of column.items"
  [item]="item"
  [isItemNew]="item.isItemNew"
  (addingItemCancel)="addingItemCancel()"
  (editColumnItem)="editColumnItem($event)"
>
</item>

<button
  class="column__add-item-button"
  (click)="addNewItem()"
>
  <mat-icon class="column__add-item-icon">{{iconNames.ADD}}</mat-icon>
  {{locale.AddItem}}
</button>

