<column-title
  [column]="column"
  (editColumnTitle)="editColumn.emit($event)"
  (removeColumn)="removeColumn.emit($event)"
>
</column-title>

<div
  *ngIf="column.items?.length"
  cdkDropList
  [cdkDropListData]="column.items"
  (cdkDropListDropped)="dropItem($event)"
  class="column__items"
>
  <item
    *ngFor="let item of column.items"
    cdkDrag
    [item]="item"
    (editItem)="editItem($event)"
    (removeItem)="removeItem($event)"
  >
  </item>
</div>

<button
  class="column__add-item-button"
  (click)="addItem()"
>
  <mat-icon class="column__add-item-icon">{{iconNames.ADD}}</mat-icon>
  {{locale.AddItem}}
</button>

