<form
  *ngIf="isEditable || isColumnNew"
  [formGroup]="formGroup"
>
  <input
    class="column-title__input"
    type="text"
    placeholder="{{locale.InputColumnTitle}}"
    autofocus
    formControlName="title"
  >

  <div class="column-title__actions">
    <button
      class="column-title__save-button"
      (click)="editTitle()"
    >
      {{buttonName}}
    </button>

    <button
      class="column-title__cancel-button"
      (click)="inputTitleCancel()"
    >
      <mat-icon>{{iconNames.CLEAR}}</mat-icon>
    </button>
  </div>
</form>

<h3
  *ngIf="!(isEditable || isColumnNew)"
  class="column-title"
  (click)="onTitleClick()"
>
  {{column.title}}
</h3>

