<form
  *ngIf="isEditFormVisible"
  [formGroup]="formGroup"
>
  <input
    class="column-title__input"
    type="text"
    placeholder="{{locale.InputColumnTitle}}"
    formControlName="title"
  >

  <div class="column-title__actions">
    <button
      class="column-title__save-button"
      (click)="editTitle()"
    >
      {{buttonName}}
    </button>

    <div class="column-title__icon-buttons">
      <button
        *ngIf="!column.isColumnNew"
        class="column-title__icon-button"
        (click)="removeColumn.emit(column)"
      >
        <mat-icon>{{iconNames.DELETE}}</mat-icon>
      </button>

      <button
        class="column-title__icon-button"
        (click)="inputTitleCancel()"
      >
        <mat-icon>{{iconNames.CLEAR}}</mat-icon>
      </button>
    </div>
  </div>
</form>

<h3
  *ngIf="!isEditFormVisible"
  class="column-title"
  (click)="onTitleClick()"
>
  {{column.title}}
</h3>

