@import "styles/variables";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, ul, li, form, label, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

footer, header, section {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-family: Montserrat, serif;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

input {
  border: none;
  font-family: Montserrat, serif;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $colorTextSecondary;
  }
}

textarea {
  border: none;
  font-family: Montserrat, serif;
  max-width: 100%;
  min-width: 100%;
  max-height: 150px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $colorTextSecondary;
  }
}
